.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 150px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--secondary-text-color);
  background: var(--accent-color);
  transition: color var(--cubic);
  &:hover {
    color: var(--error-color);
  }
}
