.list {
  .item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  .text {
    font-size: 12px;
    line-height: 1.5;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: 860px) {
      font-size: 16px;
    }
    .name {
      flex-shrink: 0;
    }
    .dots {
      flex-shrink: 0;
    }
    .actual-price {
      flex-shrink: 0;
    }
  }
}
