.slider-results {
  position: relative;
  max-width: 280px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  @include mq(tablet) {
    max-width: 770px;
  }
  @include mq(desktop) {
    max-width: 1040px;
  }

  .swiper-slide {
    max-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    overflow: hidden;
    opacity: 0;
    @include mq(tablet) {
      max-width: 230px;
      opacity: 1;
    }
    & img {
      cursor: pointer;
    }
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-pagination {
    z-index: 3;
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .swiper-pagination-bullet-active {
    width: 40px;
    background: var(--accent-color);
  }
}
