dist
node_modules

src/html/pages/index.html
src/html/pages/price.html
src/html/parts/header.html
src/html/parts/footer.html
src/html/parts/main.html
src/html/parts/mobile-menu.html
src/html/parts/modal-confirm.html
src/html/parts/modal-form.html
src/html/parts/sections/hero.html
src/html/parts/components/select-city.html
src/html/parts/components/price-list-complex.html
src/html/parts/components/price-list-single.html
src/html/parts/components/questions-list.html
src/html/parts/components/slider-hero.html