.header {
  position: fixed;
  padding-top: 12px;
  width: 100%;
  z-index: 3;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--accent-color);
  color: var(--text-color);
}

.header-block {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
