<header style="background-color: aquamarine">
  This is header
  <nav class="nav">
    <div class="container">
      <ul
        class="header-nav-list list"
        style="display: flex; gap: 20px; margin-left: 20px"
      >
        <li class="header-nav-item">
          <a
            class="header-nav-link link current"
            href="./index.html"
            >Головна сторінка</a
          >
        </li>

        <li class="header-nav-item">
          <a
            class="header-nav-link link"
            href="./about.html"
            >Про нас</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
