<ul class="header-contacts-list">
  <li class="header-contacts-item">
    <a
      lang="en"
      class="header-contacts-link"
      href="https://www.instagram.com/take_it_laser/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="contacts-icon">
        <use href="./img/icons-sprite.svg#social-instagram"></use>
      </svg>
      @take-it-laser
    </a>
  </li>

  <li class="header-contacts-item">
    <a class="header-contacts-link" href="tel:+380502034719">
      <svg class="contacts-icon">
        <use href="./img/icons-sprite.svg#contacts-phone"></use>
      </svg>
      +38 050 203 47 19
    </a>
  </li>
</ul>
