<ul class="location-list">
  <li class="location-item">
    <a
      class="location-link"
      href="https://www.google.com/maps/place/50%C2%B000'19.6%22N+36%C2%B013'58.8%22E/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <p class="city">м.Харків</p>
      <p class="street">майдан Свободи 7</p>
    </a>
  </li>
  <li>
    <a
      class="location-link"
      href="https://www.google.com/maps/place/49%C2%B035'19.6%22N+34%C2%B033'28.6%22E/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <p class="city">м.Полтава</p>
      <p class="street">вул.Котляревського 3</p>
    </a>
  </li>
</ul>
