<ul class="list">
  @@loop('price-item.html', 
  [
    { 
      "name": "Ноги повністю + Бікіні повне + Пахви", 
      "actualPrice": "1900грн" 
    },
    { 
      "name": "Ноги повністю + Бікіні повне", 
      "actualPrice": "1650грн" 
    },
    { 
      "name": "Гомілки з колінами + Бікіні повне + Пахви", 
      "actualPrice": "1400грн" 
    },
    { 
      "name": "Гомілки з колінами + Бікіні повне", 
      "actualPrice": "1150грн" 
    },
    { 
      "name": "Бікіні повне + Пахви + Живіт, біла лінія", 
      "actualPrice": "990грн" 
    },
    { 
      "name": "Бікіні повне + Пахви", 
      "actualPrice": "800грн" 
    },
  ])
</ul>
