<ul class="list">
  @@loop('price-item.html', 
  [
    { 
      "name": "Верхня губа", 
      "actualPrice": "250грн" 
    },
    { 
      "name": "Підборіддя", 
      "actualPrice": "250грн" 
    },
    { 
      "name": "Шия (попереду або сзаду)", 
      "actualPrice": "350грн" 
    },
    { 
      "name": "Щоки", 
      "actualPrice": "300грн" 
    },
    { 
      "name": "Бакенбарди", 
      "actualPrice": "100грн" 
    },
    { 
      "name": "", 
      "actualPrice": "" 
    },
    { 
      "name": "Декольте", 
      "actualPrice": "100грн" 
    },
    { 
      "name": "Руки до ліктя", 
      "actualPrice": "350грн" 
    },
    { 
      "name": "Руки повністю", 
      "actualPrice": "550грн" 
    },
    { 
      "name": "Пахви", 
      "actualPrice": "300грн" 
    },
    { 
      "name": "", 
      "actualPrice": "" 
    },
    { 
      "name": "Ареоли", 
      "actualPrice": "100грн" 
    },
    { 
      "name": "Живіт, біла лінія", 
      "actualPrice": "200грн" 
    },
    { 
      "name": "Живіт повністю", 
      "actualPrice": "350грн" 
    },
    { 
      "name": "Поперек", 
      "actualPrice": "300грн" 
    },
    { 
      "name": "Спина", 
      "actualPrice": "800грн" 
    },
    { 
      "name": "", 
      "actualPrice": "" 
    },
    { 
      "name": "Лобок", 
      "actualPrice": "300грн" 
    },
    { 
      "name": "Міжсіднична складка", 
      "actualPrice": "150грн" 
    },
    { 
      "name": "Сідниці", 
      "actualPrice": "300грн" 
    },
    { 
      "name": "Бікіні повне", 
      "actualPrice": "650грн" 
    },
    { 
      "name": "", 
      "actualPrice": "" 
    },
    { 
      "name": "Гомілки (з колінами)", 
      "actualPrice": "650грн" 
    },
    { 
      "name": "Стегна", 
      "actualPrice": "750грн" 
    },
    { 
      "name": "Задня частина стегна", 
      "actualPrice": "від 200грн" 
    },
    { 
      "name": "Внутрішня частина стегна", 
      "actualPrice": "від 200грн" 
    },
    { 
      "name": "Ноги повністю", 
      "actualPrice": "1150грн" 
    },
  ])
</ul>
