<ul class="price-list-discount">
  @@loop('price-item-discount.html', 
  [
    { 
      "firstService": {
        "name":"Ноги повністю",
        "class":""
      }, 
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      }, 
      "thirdService":{
        "name":"Пахви",
        "class":""
      }, 
      "actualPrice": "2100 грн",
      "discountPrice": "2100 грн"
    },

    { 
      "firstService": {
        "name":"Ноги повністю",
        "class":""
      },
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      },
      "thirdService":{
        "name":"",
        "class":"visually-hidden"
      },
      "actualPrice": "1800 грн",
      "discountPrice": "1800 грн" 
    },

    { 
      "firstService": {
        "name":"Гомілки з колінами",
        "class":""
      },
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      },
      "thirdService":{
        "name":"Пахви",
        "class":""
      },
      "actualPrice": "1600 грн",
      "discountPrice": "1600 грн"
    },
    { 
      "firstService": {
        "name":"Гомілки з колінами",
        "class":""
      },
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      },
      "thirdService":{
        "name":"",
        "class":"visually-hidden"
      },
      "actualPrice": "1300 грн",
      "discountPrice": "1300 грн" 
    },
    { 
      "firstService": {
        "name":"Бікіні повне",
        "class":""
      },
      "secondService": {
        "name":"Пахви",
        "class":""
      },
      "thirdService":{
        "name":"Живіт, біла лінія",
        "class":""
      },
      "actualPrice": "1150 грн",
      "discountPrice": "1150 грн" 
    },
    { 
      "firstService": {
        "name":"Бікіні повне",
        "class":""
      },
      "secondService": {
        "name":"Пахви",
        "class":""
      },
      "thirdService":{
        "name":"",
        "class":"visually-hidden"
      },  
      "actualPrice": "950 грн",
      "discountPrice": "950 грн" 
    },
  ])
</ul>