<ul class="price-list-discount">
  @@loop('price-item-discount.html', 
  [
    { 
      "firstService": {
        "name":"Ноги повністю",
        "class":""
      }, 
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      }, 
      "thirdService":{
        "name":"Пахви",
        "class":""
      }, 
      "actualPrice": "2100 грн",
      "discountPrice": "1900 грн"
    },

    { 
      "firstService": {
        "name":"Ноги повністю",
        "class":""
      },
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      },
      "thirdService":{
        "name":"",
        "class":"visually-hidden"
      },
      "actualPrice": "1800 грн",
      "discountPrice": "1650 грн" 
    },

    { 
      "firstService": {
        "name":"Гомілки з колінами",
        "class":""
      },
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      },
      "thirdService":{
        "name":"Пахви",
        "class":""
      },
      "actualPrice": "1600грн",
      "discountPrice": "1400грн"
    },
    { 
      "firstService": {
        "name":"Гомілки з колінами",
        "class":""
      },
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      },
      "thirdService":{
        "name":"",
        "class":"visually-hidden"
      },
      "actualPrice": "1300грн",
      "discountPrice": "1150грн" 
    },
    { 
      "firstService": {
        "name":"Бікіні повне",
        "class":""
      },
      "secondService": {
        "name":"Пахви",
        "class":""
      },
      "thirdService":{
        "name":"Живіт, біла лінія",
        "class":""
      },
      "actualPrice": "1150грн",
      "discountPrice": "990грн" 
    },
    { 
      "firstService": {
        "name":"Бікіні повне",
        "class":""
      },
      "secondService": {
        "name":"Пахви",
        "class":""
      },
      "thirdService":{
        "name":"",
        "class":"visually-hidden"
      },  
      "actualPrice": "950грн",
      "discountPrice": "800грн" 
    },
  ])
</ul>