<ul class="price-list-discount">
  @@loop('price-item-discount.html', 
  [
    { 
      "firstService": {
        "name":"Ноги повністю",
        "class":""
      }, 
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      }, 
      "thirdService":{
        "name":"Пахви",
        "class":""
      }, 
      "actualPrice": "2300 грн",
      "discountPrice": "2300 грн"
    },

    { 
      "firstService": {
        "name":"Ноги повністю",
        "class":""
      },
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      },
      "thirdService":{
        "name":"",
        "class":"visually-hidden"
      },
      "actualPrice": "1950 грн",
      "discountPrice": "1950 грн" 
    },

    { 
      "firstService": {
        "name":"Гомілки з колінами",
        "class":""
      },
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      },
      "thirdService":{
        "name":"Пахви",
        "class":""
      },
      "actualPrice": "1850 грн",
      "discountPrice": "1850 грн"
    },
    { 
      "firstService": {
        "name":"Гомілки з колінами",
        "class":""
      },
      "secondService": {
        "name":"Бікіні повне",
        "class":""
      },
      "thirdService":{
        "name":"",
        "class":"visually-hidden"
      },
      "actualPrice": "1500 грн",
      "discountPrice": "1500 грн" 
    },
    { 
      "firstService": {
        "name":"Бікіні повне",
        "class":""
      },
      "secondService": {
        "name":"Пахви",
        "class":""
      },
      "thirdService":{
        "name":"Живіт, біла лінія",
        "class":""
      },
      "actualPrice": "1350 грн",
      "discountPrice": "1350 грн" 
    },
    { 
      "firstService": {
        "name":"Бікіні повне",
        "class":""
      },
      "secondService": {
        "name":"Пахви",
        "class":""
      },
      "thirdService":{
        "name":"",
        "class":"visually-hidden"
      },  
      "actualPrice": "1100 грн",
      "discountPrice": "1100 грн" 
    },
  ])
</ul>