<!-- Slider main container -->
<div class="slider-hero">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide bikini-armpits">
      <div class="slide-label">
        <p class="text">Акційна пропозиція</p>
        <p class="zone">Бікіні + Пахви</p>
        <p class="cost">800 грн</p>
      </div>
      @@include('../components/button.html', { 
      "type": "button", 
      "attribute":"data-modal-open", 
      "text": "Записатись" 
    })
    <picture>
        <source
          srcset="
            @img/hero/hero-3-1x.webp 1x,
            @img/hero/hero-3-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            @img/hero/hero-3-1x.jpg 1x,
            @img/hero/hero-3-2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="hero-img"
          src="@img/hero/hero-3-1x.jpg"
          alt="girl with cactus"
          width="740"
          height="580"
        />
      </picture>
    </div>

    <div class="swiper-slide bikini-legs">
      <div class="slide-label">
        <p class="text">Акційна пропозиція</p>
        <p class="zone">
          Ноги повністю <br />
          + <br />
          Бікіні повне
        </p>
        <p class="cost">1650 грн</p>
      </div>
      @@include('../components/button.html', { 
      "type": "button", 
      "attribute":"data-modal-open", 
      "text": "Записатись" 
    })
    <picture>
        <source
          srcset="
            @img/hero/hero-4-1x.webp 1x,
            @img/hero/hero-4-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            @img/hero/hero-4-1x.jpg 1x,
            @img/hero/hero-4-2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="hero-img"
          src="@img/hero/hero-4-1x.jpg"
          alt="girl's legs"
          width="580"
          height="580"
        />
      </picture>
    </div>

    <div class="swiper-slide discounts">
      <div class="slide-label">
        <p class="cost">Знижки</p>
        <p class="zone">На перший <span>візит</span></p>
      </div>
      @@include('../components/button.html', { 
      "type": "button", 
      "attribute":"data-modal-open", 
      "text": "Дізнатись ціну" 
    })
    <picture>
        <source
          srcset="
            @img/hero/hero-2-1x.webp 1x,
            @img/hero/hero-2-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            @img/hero/hero-2-1x.jpg 1x,
            @img/hero/hero-2-2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="hero-img"
          src="@img/hero/hero-2-1x.jpg"
          alt="girl with laser device"
          width="580"
          height="580"
        />
      </picture>
    </div>

    <div class="swiper-slide laser-time">
      <div class="slide-label">
        <p class="zone">Найкращий час для лазерної епіляції</p>
        <p class="cost">ЗАРАЗ</p>
      </div>
      @@include('../components/button.html', { 
      "type": "button", 
      "attribute":"data-modal-open", 
      "text": "Записатись на безкоштовну консультацію" 
    })
    <picture>
        <source
          srcset="
            @img/hero/hero-1-1x.webp 1x,
            @img/hero/hero-1-2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            @img/hero/hero-1-1x.jpg 1x,
            @img/hero/hero-1-2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpg"
        />
        <source
          srcset="
            @img/hero/hero-1-min-1x.webp 1x,
            @img/hero/hero-1-min-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            @img/hero/hero-1-min-1x.jpg 1x,
            @img/hero/hero-1-min-2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          class="hero-img"
          src="@img/hero/hero-1-1x.jpg"
          alt="girl removes body hair"
          width="580"
          height="580"
        />
      </picture>
    </div>
    
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
