<!-- Slider main container -->
<div class="slider-hero">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img
        src="@img/slide-1.jpg"
        alt="first slide"
        width="1280px"
        height="718px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/slide-1.jpg"
        alt="first slide"
        width="1280px"
        height="718px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/slide-1.jpg"
        alt="first slide"
        width="1280px"
        height="718px"
        loading="lazy"
      />
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
