<div class="slider-reviews">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-1.jpg"
        alt="review-1"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-2.jpg"
        alt="review-2"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-3.jpg"
        alt="review-3"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-4.jpg"
        alt="review-4"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-5.jpg"
        alt="review-5"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-6.jpg"
        alt="review-6"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-7.jpg"
        alt="review-7"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-8.jpg"
        alt="review-8"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-9.jpg"
        alt="review-9"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-10.jpg"
        alt="review-10"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-11.jpg"
        alt="review-11"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="@img/reviews/review-12.jpg"
        alt="review-12"
        width="720px"
        height="1280px"
        loading="lazy"
      />
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>
