<ul class="social-list">
  <li class="social-item">
    <a
      href="https://www.instagram.com/take_it_laser/"
      target="_blank"
      rel="noreferrer noopener nofollow"
      class="social-link"
      aria-label="instagram"
    >
      <svg class="icon">
        <use href="./img/icons-sprite.svg#social-instagram"></use>
      </svg>
    </a>
  </li>

  <li class="social-item">
    <a
      href="https://www.tiktok.com/@take_it_laser"
      target="_blank"
      rel="noreferrer noopener nofollow"
      class="social-link"
      aria-label="tiktok"
      ><svg class="icon">
        <use href="./img/icons-sprite.svg#social-tiktok"></use>
      </svg>
    </a>
  </li>

  <li class="social-item">
    <a
      href="https://www.facebook.com/profile.php?id=100078014949335"
      target="_blank"
      rel="noreferrer noopener nofollow"
      class="social-link"
      aria-label="facebook"
      ><svg class="icon">
        <use href="./img/icons-sprite.svg#social-facebook"></use>
      </svg>
    </a>
  </li>
</ul>
