.mobile-menu {
  position: fixed;
  z-index: 5;
  top: 85px;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--mobile-menu-background-color);
  transform: translateY(-150%);
  transition: transform var(--cubic);
  overflow-y: auto;
  overflow-x: hidden;
  &.is-open {
    transform: translateY(0);

    & .nav-item:nth-child(1) {
      transform: translateX(0);
      transition: transform var(--cubic) 0.1s;
    }
    & .nav-item:nth-child(2) {
      transform: translateX(0);
      transition: transform var(--cubic) 0.2s;
    }
    & .nav-item:nth-child(3) {
      transform: translateX(0);
      transition: transform var(--cubic) 0.3s;
    }
    & .nav-item:nth-child(4) {
      transform: translateX(0);
      transition: transform var(--cubic) 0.4s;
    }
    & .nav-item:nth-child(5) {
      transform: translateX(0);
      transition: transform var(--cubic) 0.5s;
    }
    & .nav-item:nth-child(6) {
      transform: translateX(0);
      transition: transform var(--cubic) 0.6s;
    }
    & .nav-item:nth-child(7) {
      transform: translateX(0);
      transition: transform var(--cubic) 0.7s;
    }
    & .nav-item:nth-child(8) {
      transform: translateX(0);
      transition: transform var(--cubic) 0.8s;
    }
  }
  & .button {
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
    background: var(--secondary-text-color);
    transition: color var(--cubic);
    animation: pulse 1000ms infinite;
    &:hover {
      color: var(--accent-color);
    }
  }
  & .nav-item {
    padding: 12px 0px;
    padding-left: 24px;
    border-top: 1px solid #77a500;
    transform: translateX(100%);
    &:last-child {
      border-bottom: 1px solid #77a500;
      transform: translateX(100%);
    }
  }
  & .nav-link {
    padding-bottom: 4px;
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    transition: border-bottom var(--cubic);
    &.current {
      border-bottom: 2px solid var(--secondary-text-color);
    }
    &:hover {
      border-bottom: 2px solid var(--secondary-text-color);
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}
