.section.about {
  .section-title {
    margin-bottom: 20px;
  }
  .post-title {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .about-text {
    text-align: justify;
    color: var(--text-color);
  }
}
