.section.about {
  .section-title {
    margin-bottom: 20px;
  }
  .post-title {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .about-text {
    font-size: 12px;
    text-align: justify;
    color: var(--text-color);
    margin-bottom: 20px;
    @include mq(tablet) {
      font-size: 16px;
    }
  }
}
