.section.features {
  .section-title {
    margin-bottom: 20px;
  }
  .post-title {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .features-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--primary-gap);
    margin-bottom: 20px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
    .features-list-icon {
      margin: 0 auto;
      width: 60px;
      @include mq(tablet) {
        width: 80px;
      }
    }
    .features-list-text {
      font-size: 12px;
      text-align: justify;
      color: var(--text-color);
      @include mq(tablet) {
        font-size: 16px;
      }
    }
    .features-list-item {
      border-radius: 32px;
      padding: 24px 12px;
      box-shadow: var(--card-sd);
    }
  }
}
