<div class="mobile-menu">
  <button
    type="button"
    class="button mobile-menu-btn"
    data-modal-open
  >
    Записатись
  </button>
  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-nav-list list">
      <li class="mobile-menu-nav-item">
        <a
          class="mobile-menu-nav-link link current"
          href="#hero"
          >Лазерна епіляція</a
        >
      </li>

      <li class="mobile-menu-nav-item">
        <a
          class="mobile-menu-nav-link link"
          href="#about"
          >Про нас</a
        >
      </li>

      <li class="mobile-menu-nav-item">
        <a
          class="mobile-menu-nav-link link"
          href="#prices"
          >Наші ціни</a
        >
      </li>

      <li class="mobile-menu-nav-item">
        <a
          class="mobile-menu-nav-link link"
          href="#teams"
          >Наша команда</a
        >
      </li>
      <li class="mobile-menu-nav-item">
        <a
          class="mobile-menu-nav-link link"
          href="#contacts"
          >Контакти</a
        >
      </li>
    </ul>
  </nav>
</div>
