<div
  class="backdrop-popup is-hidden"
  data-modal-backdrop-popup
>
  <div
    class="modal-popup"
    data-modal-popup
  >
    <button
      type="button"
      class="close-btn"
      data-modal-popup-close
    >
      <svg
        class="close-btn-icon"
        width="16"
        height="16"
      >
        <use href="./img/icons-sprite.svg#menu-close "></use>
      </svg>
    </button>

    <p class="modal-popup-title">Ваші данні відправлені</p>
    <p class="modal-popup-text">
      Адміністратор зв'яжеться з вами протягом доби у робочий час
    </p>
    <button
      type="button"
      class="button modal-popup-btn"
      data-modal-popup-close
    >
      Закрити
    </button>
  </div>
</div>
